{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated() %}
        <div class="row">
            <ul class="list-group col-md-6">
                {% for file in files %}
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-file"
                              aria-hidden="true"></span>
                        <a href="{{ url_for('file_download', file_id=file.id) }}">{{ file.name }}</a>
                    <a href="{{ url_for('file_delete', file_id=file.id) }}" class="glyphicon glyphicon-trash"><a>
                    </li>
                {% endfor %}
            </ul>
        <div class="col-md-4">
                    <form action="{{ url_for('file_upload') }}" method="POST"
                          enctype=multipart/form-data>
                        <p>

                        <div class="row">
                            <input type=file name=file>
                            <input class="btn" type=submit value=Upload>
                        </div>
                    </form>
                </div>
        </div>
    {% endif %}
{% endblock %}
